body {
    margin: 0;
}

#content {
    display: grid;
    grid-template-rows: minmax(60px, 80px) minmax(450px, 1fr);
    grid-template-columns: minmax(200px, 250px) minmax(400px, 1fr);
    height: 100vh;
}

#header {
    grid-column: 1 / 3;
}

#todo-list {
    grid-column: 2;
}